.floors{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  .left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    .btns{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 320px;
      gap: 10px;
      button{
        width: 100px;
        height: 60px;
        background: red;
        color: white;
        border: 0;
        border-radius: 4px;
      }
    }
  }
  .right{
    img{
      width: 300px;
    }
  }
}